<div class="row justify-content-center m-3">
  <div class="col-md-6">
    <%= simple_form_for @camp do |f| %>
      <%= f.input :name, label: "Name of the camp", placeholder: "Ex: Summer Camp 2020" %>
      <%= f.input :description, label: "Camp Description",placeholder: "Ex: Summer camp for children from 5 to 12 years old" %>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :start_date, as: :date, html5:true, input_html: { min: Date.today + 1.day }, label: "Start date" %>
        </div>
        <div class="col-md-6">
          <%= f.input :end_date, as: :date, html5:true, input_html: { min: Date.today + 2.day }, label: "End date" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.input :address, label: "Location", placeholder: "Ex: Santiago" %>
        </div>
        <div class="col-md-4">
          <%= f.input :price, label: "Price", placeholder: "Ex: 10000" %>
        </div>
        <div class="col-md-4">
          <%= f.input :capacity, label: "Capacity", placeholder: "Ex: 6", hint: "Maximum 10 persons" %>
        </div>
      </div>
      <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Photos" %>
      <%= f.button :submit, class: 'btn btn-outline-dark w-100 mb-3' %>
    <% end %>
  </div>
</div>
