<div class="container py-4 py-xl-5">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2>CAMPINGNB</h2>
            <p class="w-lg-50">La mejor alternativa el momento de acampar.</p>
        </div>
    </div>
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
      <% @camps.each do |camp| %>
        <div class="col">
            <div>
            <%= link_to camp_path(camp) do %>
              <%= cl_image_tag camp.photos.first.key, class: "rounded img-fluid d-block w-100 fit-cover", height: 200 %>
                <div class="py-4">
                  <ul class="list-inline d-flex justify-content-between">
                    <li class="list-inline-item card-title"><h4><%= camp.name %></h4></li>
              <% end %>
                    <li class="list-inline-item">❤5</li>
                  </ul>
                    <p class="text-muted"><%= camp.start_date.to_fs(:short) %> - <%= camp.end_date.to_fs(:short) %></p>
                    <p>$ <%= camp.price %> COP noche</p>
                </div>
            </div>
        </div>
      <% end %>
    </div>
</div>


 <%# @camp.photos.each do |photo| %>
  <%#= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<%# end %>
