<div class="row justify-content-center">
  <div class="col-12">
    <div class="row row-cols-4 mt-3">
      <% @camps.each do |camp| %>
        <div class="col">
          <div class="card border-0">
            <%= cl_image_tag camp.photos.first.key, class: "card-img-top", radius: 10, height: 200, width: 300, crop: :fill %>
            <div class="card-body">
              <ul class="list-inline d-flex justify-content-between">
                <li class="list-inline-item card-title"><%= camp.name %></li>
                <li class="list-inline-item">❤5</li>
              </ul>
              <p class="card-text"><%= camp.start_date %> - <%= camp.end_date %></p>
              <p class="card-text">$<%= camp.price %> COP noche</p>
              <%= link_to 'See Details', camp_path(camp), class: 'card-link text-center' %>
              <% if policy(camp).update? %>
                <%= link_to 'Edit', edit_camp_path(camp), class: 'card-link' %>
              <% end %>
              <% if policy(camp).destroy? %>
                <%= link_to 'Destroy', camp_path(camp),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: 'card-link' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


 <%# @camp.photos.each do |photo| %>
  <%#= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<%# end %>
