<div class="container">
  <h1 class="text-center my-3">My Camps</h1>
  <div class="album py-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @camps.each do |camp| %>
        <div class="col">
          <div class="card shadow-sm">
            <%= cl_image_tag camp.photos.first.key, class:'bd-placeholder-img card-img-top', height: '225', width: '100%', focus_on: 'face', alt: 'Placeholder image' %>
            <div class="card-body">
              <ul class="list-inline d-flex justify-content-between">
                <li class="list-inline-item card-title fw-bold"><%= camp.name %></li>
                <% if camp.reviews.count > 0 %>
                  <li class="list-inline-item">❤ <%= camp.reviews.average(:rating).floor(2) %></li>
                <% else %>
                  <li class="list-inline-item">❤ <%= camp.reviews.average(:rating) %></li>
                <% end %>
              </ul>
              <div class="d-flex justify-content-between align-items-center mt-2">
                <div class="btn-group">
                  <%= link_to 'View', camp_path(camp), class: 'btn btn-sm btn-outline-dark' %>
                  <%= link_to 'Edit', edit_camp_path(camp), class: 'btn btn-sm btn-outline-dark' %>
                  <%= link_to 'Delete', camp_path(camp), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-sm btn-outline-dark' %>
                </div>
                <small class="text-muted"><%= distance_of_time_in_words_to_now(camp.created_at) %> ago</small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
