<div class="container">
  <h1>My Bookings</h1>
  <div class="row row-cols-4 mt-3">
    <% @bookings.each do |booking| %>
      <div class="col">
        <div class="card m-1" style="border-radius: 4%;">
          <div class="card-body">
            <ul class="list-inline d-flex justify-content-between">
              <li class="list-inline-item card-title"><%= booking.camp.name %></li>
              <li class="list-inline-item">❤ <%= booking.camp.reviews.average(:rating) %></li>
            </ul>
            <p class="card-text"><%= booking.start_date.to_fs(:long) %> - <%= booking.end_date.to_fs(:long) %></p>
            <p class="card-text">$ <%= booking.camp.price %> COP noche</p>
            <%= link_to 'See Details', camp_path(booking.camp), class: 'card-link text-center' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
