<section>
  <div style="height: 600px;background: url(<%=asset_path('camp_home.jpg')%>) center / cover;">
    <div class="col-md-6 d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
      <div id="hero" class="text-start d-flex flex-column justify-content-center align-items-center justify-content-xl-center align-items-xl-start justify-content-xxl-center" style="height: 600px; padding: 50px;">
        <h1>Campingnb</h1>
        <p>They say the happiest place in the world is Disneyland, but it's not true. <br> It is a camp.</p>
        <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center">
          <%= form_with url: camps_path, method: :get do %>
            <%= text_field_tag :query, params[:query], placeholder: "Find a Camp" %>
            <%= submit_tag "Search", class: "btn btn-primary", style: 'padding: 3px 8px;margin-left: 3px;' %>
          <% end %>
        </div>
    </div>
    </div>
  </div>
  <div class="container h-100 position-relative" style="top: -50px;">
      <div class="row gy-5 gy-lg-0 row-cols-1 row-cols-md-2 row-cols-lg-3">
          <div class="col">
            <div class="card">
                <div class="card-body pt-5 p-4">
                    <h4 class="card-title">Benefits of camping</h4>
                    <h6 class="text-muted card-subtitle mb-2">Everything for your wellbeing</h6>
                    <p class="card-text">
                      <ul>
                        <li>Synchronize your sleep cycles</li>
                        <li>Improves your mental health</li>
                        <li>Improves your spiritual health</li>
                        <li>Reduce your symptoms of depression</li>
                      </ul>
                    </p>
                </div>
                <div class="card-footer p-4 py-3">
                  <a href="#">Lear more →</a>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
                <div class="card-body pt-5 p-4">
                    <h4 class="card-title">Camps</h4>
                    <h6 class="text-muted card-subtitle mb-2">Find your ideal place</h6>
                    <p class="card-text">In our campsites you will find the best camping experience.</p>
                </div>
                <div class="card-footer p-4 py-3">
                  <%= link_to "Find a Camp", camps_path %>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card rounded-3">
                <div class="card-body pt-5 p-4">
                  <h4 class="card-title">Add your Camp</h4>
                  <h6 class="text-muted card-subtitle mb-2">Grow your business</h6>
                  <p class="card-text">At Campingnb you can rent your spaces at no cost.</p>
                </div>
                <div class="card-footer p-4 py-3">
                  <%= link_to "Add a Camp", new_camp_path %>
                </div>
            </div>
          </div>
      </div>
  </div>
</section>

<!--Eventos start -->

<section class="eventos">
  <div class="title">
    <h1>Upcoming Events</h1>
  </div>
  <div class="fila">
    <div class="columna">
      <img src="#" alt="primeraImagen" class="imagen" stlye="background: url(<%=asset_path('primeraImagen.jpg')%>)">
      <h4>Everest Camp Trek</h4>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt atque deleniti non cupiditate, obcaecati amet at voluptatum neque nulla laudantium ea sit aspernatur recusandae repellat natus, velit perspiciatis odit officiis!</p>
      <a href="#" class="ctn">Learn More</a>
    </div>
        <div class="columna">
      <img src="#" alt="segundaImagen" class="imagen" stlye="background: url(<%=asset_path('segundaImagen.jpg')%>)">
      <h4>Walking holidays</h4>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt atque deleniti non cupiditate, obcaecati amet at voluptatum neque nulla laudantium ea sit aspernatur recusandae repellat natus, velit perspiciatis odit officiis!</p>
      <a href="#" class="ctn">Learn More</a>
    </div>
  </div>
</section>

<!--Eventos end -->

<!--Explore section start -->

<section class="explore">
  <div class="explore-content">
    <h1>Explore the world</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt minus pariatur ex ullam non repellat dolorem repellendus ad! Doloremque recusandae laborum sapiente eius nam, quisquam veniam est ipsa error excepturi!</p>
    <a href="#" class="ctn"></a>
  </div>
</section>

<!--Explore section end -->


<div class="container py-4 py-xl-5">
  <div class="row mb-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
          <h2>Testimonials</h2>
      </div>
  </div>
  <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-lg-3">
    <% @reviews.last(3).each do |review| %>
        <%= render 'camps/reviews', review: review %>
      <% end %>
  </div>
</div>
